/* header*/
.header {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
  

.header-left {
  display: flex;
  align-items: center;
}


.header-right {
  display: flex;
  color:#BF0000;
}



#form1{
position:relative;/*フォームの相対位置*/	
max-width:270px;/*フォームのサイズ*/ /*270*/
margin-bottom:15px;/*フォームの下に余白*/	
font-size: 20px; 
color: #BF0000;
}
/*検索ボックス*/
#sbox1{
width:700px;
position:absolute;/*フォームの絶対位置*/	
left:550px;
top:50px; 	
outline:0;/*クリック時の青い枠線消す*/	
height:50px;/*検索ボックスの高さ*/	
padding-left: :0 8px;/*テキスト位置調整*/	
border-radius:2px 0 0 2px;/*検索ボックスの角を丸める*/		
background:#fff;/*検索ボックスの背景カラー*/	
}
/*検索ボタン*/
#sbtn1{
width:70px;/*検索ボタンの横幅*/ 
height:50px;/*検索ボタンの縦幅*/ 
position:absolute;/*検索ボタンの絶対位置*/  
left:1250px;/*検索ボタンの位置調整*/  
top:50px;
border-radius:0 2px 2px 0;/*検索ボタンの角を丸める*/ 
background:#BF0000;/*検索ボタンの背景カラー*/ 
border:none;/*検索ボタンの枠線を消す*/ 
color:#fff;/*検索ボタンのテキストカラー*/ 
font-weight:bold;/*検索ボタンのテキスト太字*/ 
font-size:16px;/*検索ボタンのフォントサイズ*/ 
}
/*検索ボタンマウスオーバー時*/
#sbtn1:hover{
color:#666;/*検索ボタンマウスオーバー時のフォントカラー*/ 
}

/* footer */
footer {
  margin-top: 12%;
  background-color: #BF0000;
  color: #fff;
  font-size: 50px;
  text-align: center;
  vertical-align: center;
  height: 300px;
  padding-top:4%;
}

