

aside .category {margin-bottom: 15px;}
aside .category .ttl {padding: 10px;background: #666666;color: #fefefe;}
aside .category ul {border: 1px solid #e2e2e2;}
aside .category li+li {border-top: 1px solid #e2e2e2;}
aside .category a {padding: 15px 0 15px 70px;display: block;}
aside .category .ico_water a {background: url(https://24.r10s.jp/_pc/img/ico_water.png) left 50% no-repeat;}
aside .category .ico_daily a {background: url(https://24.r10s.jp/_pc/img/ico_daily.png) left 50% no-repeat;}
aside .category .ico_food a {background: url(https://24.r10s.jp/_pc/img/ico_food.png) left 50% no-repeat;}
aside .category .ico_health a {background: url(https://24.r10s.jp/_pc/img/ico_health.png) left 50% no-repeat;}
aside .category .ico_cosme a {background: url(https://24.r10s.jp/_pc/img/ico_cosme.png) left 50% no-repeat;}
aside .category .ico_medicine a {background: url(https://24.r10s.jp/_pc/img/ico_medicine.png) left 50% no-repeat;}
aside .category .ico_medical a {background: url(https://24.r10s.jp/_pc/img/ico_medical.png) left 50% no-repeat;}
aside .category .ico_baby a {background: url(https://24.r10s.jp/_pc/img/ico_baby.png) left 50% no-repeat;}
aside .category .ico_pet a {background: url(https://24.r10s.jp/_pc/img/ico_pet.png) left 50% no-repeat;}
aside .category .ico_nursing a {background: url(https://24.r10s.jp/_pc/img/ico_nursing.png) left 50% no-repeat;}
aside .category .ico_kitchen a {background: url(https://24.r10s.jp/_pc/img/ico_kitchen.png) left 50% no-repeat;}
aside .category .ico_homeelectronics a {background: url(https://24.r10s.jp/_pc/img/ico_homeelectronics.png) left 50% no-repeat;}
aside .category .ico_diy a {background: url(https://24.r10s.jp/_pc/img/ico_diy.png) left 50% no-repeat;}
aside .category .ico_sports a {background: url(https://24.r10s.jp/_pc/img/ico_sports.png) left 50% no-repeat;}
aside .category .ico_healing a {background: url(https://24.r10s.jp/_pc/img/ico_healing.png) left 50% no-repeat;}

.item{width: 90%}



* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}


.searchbar{
  top:0;
  width:100%;
  position:fixed;
  z-index: 999;
  text-align:center;
  background-color: #fff;
  height: 55px;
  border-bottom-style: solid; 
  border-bottom-width:2px;
  border-bottom-color:#BF0000;
}

.footer-page {
  margin-top:100px;
  display: flex;
  justify-content: center;
  background-color: #BF0000;
  color: #fff;
  font-size: 18px;
  padding: 2px 0;
}


.blankbar{
  margin-top:4%;
}


#sbox1-page{
width:400px;
position:absolute;/*フォームの絶対位置*/ 
left:500px;
top:5px;   
outline:0;/*クリック時の青い枠線消す*/  
height:40px;/*検索ボックスの高さ*/ 
padding-left: :0 8px;/*テキスト位置調整*/ 
border-radius:2px 0 0 2px;/*検索ボックスの角を丸める*/    
background:#fff;/*検索ボックスの背景カラー*/  
}
/*検索ボタン*/
#sbtn1-page{
width:70px;/*検索ボタンの横幅*/ 
height:40px;/*検索ボタンの縦幅*/ 
position:absolute;/*検索ボタンの絶対位置*/  
left:900px;/*検索ボタンの位置調整*/  
top:5px;
border-radius:0 2px 2px 0;/*検索ボタンの角を丸める*/ 
background:#BF0000;/*検索ボタンの背景カラー*/ 
border:none;/*検索ボタンの枠線を消す*/ 
color:#fff;/*検索ボタンのテキストカラー*/ 
font-weight:bold;/*検索ボタンのテキスト太字*/ 
font-size:16px;/*検索ボタンのフォントサイズ*/ 
}
/*検索ボタンマウスオーバー時*/
#sbtn1-page:hover{
color:#666;/*検索ボタンマウスオーバー時のフォントカラー*/ 
}

.searchlinks{
  margin-right:6px;
  color:#BF0000;
}

.vertical-line{
  color: rgba(0,0,0,0.5);
}



