    <!DOCTYPE html>
    <html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Daily-Goods</title>
        <link rel="stylesheet" href="../static/page_css/index_style.css">
        <link rel="stylesheet" href="../static/page_css/style.css">
        <link rel="stylesheet" href="../static/page_css/bootstrap.css">
        <link rel="stylesheet" href="../static/page_css/bootstrap-theme.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- header -->
        <div class="header">
            <!-- header左側 -->
            <div class="header-left">
                <img src="../static/image/logo.png" alt="Rakutenlogo">
                <span class="name">Rakutenlogo</span>
            </div>
            <!-- header右側 -->
            <div class="header-right">
                    <a href="#" class="searchlinks">買い物かご &nbsp <span class="vertical-line">|</span></a>
                    <a href="#" class="searchlinks">アカウント &nbsp <span class="vertical-line">|</span></a>
                    <a href="#" class="searchlinks">購入履歴 &nbsp <span class="vertical-line">|</span></a>
                    <a href="#" class="searchlinks">お気に入り &nbsp </a>
            </div> 
        </div>

        <div>
           <form id="form1" action="result" method="get">
               <div>
                   <!-- 検索窓 -->
                   <p>Let's go shopping!</p>
                   <input id="sbox1" type="search" name="search" placeholder="キーワードを入力"<br>
                   <input id="sbtn1" type="submit" name="submit" value="検索"><br>
               </div>
           </form>
       </div>
       <!--headerはここまで-->

       <!--category-->
       <div class="move-down">
       </div> 
        <div class="container-fluid">
          <div class="row">


            <div class="col-lg-12">
              <div width="50%" class="aochi-aside">
               <th:block th:fragment="comp">
               <section class="category">
                <div class="ttl">カテゴリから探す</div>
                <ul>
                  <div class="row">
                    <div class="col-lg-4">
                      <li class="ico_water"><a href="https://item.rakuten.co.jp/rakuten24/c/0000009966/?s-id=r24_pc_cg_01" target="_top">水・飲料</a></li>
                      <li class="ico_daily"><a href="https://item.rakuten.co.jp/rakuten24/c/0000007422/?s-id=r24_pc_cg_02" target="_top">日用品</a></li>
                      <li class="ico_food"><a href="https://item.rakuten.co.jp/rakuten24/c/0000008983/?s-id=r24_pc_cg_03" target="_top">フード</a></li>
                      <li class="ico_health"><a href="https://item.rakuten.co.jp/rakuten24/c/0000005960/?s-id=r24_pc_cg_04" target="_top">健康食品</a></li>
                    </div>
                    <div class="col-lg-4">
                      <li class="ico_medicine"><a href="https://item.rakuten.co.jp/rakuten24/c/0000014487/?s-id=r24_pc_cg_05" target="_top">医薬品</a></li>
                      <li class="ico_cosme"><a href="https://item.rakuten.co.jp/rakuten24/c/0000006584/?s-id=r24_pc_cg_06" target="_top">化粧品</a></li>
                      <li class="ico_medical"><a href="https://item.rakuten.co.jp/rakuten24/c/0000008356/?s-id=r24_pc_cg_07" target="_top">衛生医療</a></li>
                      <li class="ico_baby"><a href="https://item.rakuten.co.jp/rakuten24/c/0000008698/?s-id=r24_pc_cg_08" target="_top">ベビー＆キッズ</a></li>
                    </div>
                    <div class="col-lg-4">
                      <li class="ico_pet"><a href="https://item.rakuten.co.jp/rakuten24/c/0000009459/?s-id=r24_pc_cg_09" target="_top">ペット用品</a></li>
                      <li class="ico_nursing"><a href="https://item.rakuten.co.jp/rakuten24/c/0000009814/?s-id=r24_pc_cg_10" target="_top">介護</a></li>
                      <li class="ico_kitchen"><a href="https://item.rakuten.co.jp/rakuten24/c/0000010104/?s-id=r24_pc_cg_11" target="_top">ホーム＆キッチン</a></li>
                      <li class="ico_homeelectronics"><a href="https://item.rakuten.co.jp/rakuten24/c/0000006506/?s-id=r24_pc_cg_12" target="_top">家電</a></li>
                    </div>
                  </div>>
                </ul>
              </section>
            </th:block>
          </div>
        </div>
      </div>
    </div>

      <!--category ここまで-->

       <!-- footer -->
       <footer>
            Rakuten-Daily.inc
       </footer>
       <!--footer>
           <p>Rakuten-Daily.inc</p>
       </footer-->

   </body>
   </html>

