<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Daily-Goods</title>
    <link rel="stylesheet" href="../static/index_style.css">
</head>
<body>
    <!-- header -->
    <div class="header">
        <!-- header左側 -->
        <div class="header-left">
            <img src="../static/image/logo.png" alt="Rakutenlogo">
            <span class="name">Rakutenlogo</span>
        </div>
        <!-- header右側 -->
        <div class="header-right">
            <div>買い物かご</div>
            <div>アカウント</div>
            <div>購入履歴</div>
            <div>お気に入り</div>
        </div> 
    </div>

     <div>
     <form id="form1" action="result" method="get">
         <div>
             <!-- 検索窓 -->
             <p>Let's go shopping!</p>
             <input id="sbox1" type="search" name="search" placeholder="キーワードを入力"><br>
             <input id="sbtn1" type="submit" name="submit" value="検索"><br>
         </div>
     </form>
     </div>
     <!--headerはここまで-->

     <!--category-->
     <aside style="float: left; width: 20%;">

        <th:block th:fragment="comp">
        <section class="category">
            <div class="ttl">カテゴリから探す</div>
            <ul>
                <li class="ico_water"><a href="https://item.rakuten.co.jp/rakuten24/c/0000009966/?s-id=r24_pc_cg_01" target="_top">水・飲料</a></li>
                <li class="ico_daily"><a href="https://item.rakuten.co.jp/rakuten24/c/0000007422/?s-id=r24_pc_cg_02" target="_top">日用品</a></li>
                <li class="ico_food"><a href="https://item.rakuten.co.jp/rakuten24/c/0000008983/?s-id=r24_pc_cg_03" target="_top">フード</a></li>
                <li class="ico_health"><a href="https://item.rakuten.co.jp/rakuten24/c/0000005960/?s-id=r24_pc_cg_04" target="_top">健康食品</a></li>
                <li class="ico_medicine"><a href="https://item.rakuten.co.jp/rakuten24/c/0000014487/?s-id=r24_pc_cg_05" target="_top">医薬品</a></li>
                <li class="ico_cosme"><a href="https://item.rakuten.co.jp/rakuten24/c/0000006584/?s-id=r24_pc_cg_06" target="_top">化粧品</a></li>
                <li class="ico_medical"><a href="https://item.rakuten.co.jp/rakuten24/c/0000008356/?s-id=r24_pc_cg_07" target="_top">衛生医療</a></li>
                <li class="ico_baby"><a href="https://item.rakuten.co.jp/rakuten24/c/0000008698/?s-id=r24_pc_cg_08" target="_top">ベビー＆キッズ</a></li>
                <li class="ico_pet"><a href="https://item.rakuten.co.jp/rakuten24/c/0000009459/?s-id=r24_pc_cg_09" target="_top">ペット用品</a></li>
                <li class="ico_nursing"><a href="https://item.rakuten.co.jp/rakuten24/c/0000009814/?s-id=r24_pc_cg_10" target="_top">介護</a></li>
                <li class="ico_kitchen"><a href="https://item.rakuten.co.jp/rakuten24/c/0000010104/?s-id=r24_pc_cg_11" target="_top">ホーム＆キッチン</a></li>
                <li class="ico_homeelectronics"><a href="https://item.rakuten.co.jp/rakuten24/c/0000006506/?s-id=r24_pc_cg_12" target="_top">家電</a></li>
                <li class="ico_sports"><a href="https://item.rakuten.co.jp/rakuten24/c/0000006475/?s-id=r24_pc_cg_13" target="_top">スポーツ</a></li>
                <li class="ico_healing"><a href="https://item.rakuten.co.jp/rakuten24/c/0000006361/?s-id=r24_pc_cg_14" target="_top">癒し用品</a></li>
            </ul>
        </section>
        </th:block>
    </aside>
    <!--category ここまで-->

</body>
</html>


