<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Daily-Goods</title>
    <link rel="stylesheet" href="../static/index_style.css">
</head>
<body>
    <!-- header -->
    <div class="header">
        <!-- header左側 -->
        <div class="header-left">
            <img src="../static/image/logo.png" alt="Rakutenlogo">
            <span class="name">Rakutenlogo</span>
        </div>
        <!-- header右側 -->
        <div class="header-right">
            <div>買い物かご</div>
            <div>アカウント</div>
        </div> 
    </div>

     <div>
     <form id="form1" action="result" method="get">
         <div>
             <!-- 検索窓 -->
             <p>Let's search!</p>
             <input id="sbox1" type="search" name="search" placeholder="キーワードを入力"><br>
             <input id="sbtn1" type="submit" name="submit" value="検索"><br>

         </div>
     </form>
     </div>
</body>
</html>
